header {
  color: white;
}

h1 {
  color: #ffcd31;
  text-decoration: none;

}

body { 
  background-color:#222222; 
  color: white;
  text-align: center;
  font-family: sans-serif;
 
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 30px;
  height: auto;
  text-align: justify;
}

a.class1 {color:white;}
a.class1:link  {text-decoration: none; color: white;}
a.class1:visited {text-decoration: none; color: white;}
a.class1:hover {text-decoration: underline; color: white;}
a.class1:active {text-decoration: none; color: white;}

a.class2 {color:#ffcd31;}
a.class2:link  {text-decoration: none; color: #ffcd31;}
a.class2:visited {text-decoration: none; color: #ffcd31;}
a.class2:hover {text-decoration: underline; color: #ffcd31;}
a.class2:active {text-decoration: none; color: #ffcd31;}

iframe {
  height: 400px;
  width: 600px;
  border: solid;
  border-width: 3px;
  color: #ffcd31;
  overflow: auto;
}